@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Mina);
body {
    font-family: Mina, sans-serif;
    text-shadow: 1px 1px rgba(0, 0, 0, .2);
    color: #FEAE03;
    background-color: #EDEDED
}

body a, body a:hover {
    color: inherit;
    text-decoration: none
}

body span {
    color: #FEAE03
}

.navbar {
    height: 80px;
    transition: all .3s ease
}

.navbar .navbar-brand a:not(.nav-btn) {
    line-height: 45px;
    font-size: 20px;
    color: #FEAE03;
    margin-left: 25px;
}

.navbar .navbar-fb a:not(.nav-btn) {
    line-height: 45px;
    font-size: 22px;
    color: #FEAE03;
}

.navbar .menu-icon {
    font-size: 24px;
    margin-right: 25px;   
}

.navbar .menu-container {
    position: absolute;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .9);
    z-index: 2;
    transition: all .5s ease;
    transition-property: top, opacity;
    opacity: 0
}

.menu-illuminated {
    background-color: rgba(237, 237, 237, .9)!important;
}

.navbar .menu-container ul {
    list-style: none;
    padding: calc((100vh - 300px)/ 2) 0;
    height: 300px;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    box-sizing: content-box
}

.navbar .menu-container ul a {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    line-height: 75px;
    transition: all .3s ease
}

.navbar .menu-container ul a:hover {
    text-shadow: 1rem 1rem rgba(254, 174, 3, .25)
}

.navbar .menu-toggled {
    top: 0;
    opacity: 1
}

.navbar-scrolled {
    background-color: #EDEDED;
    height: 60px;
    border-bottom: 1px solid #FEAE03
}

.page-header {
    width: 100%;
    height: calc(100vh + 80px);
    background-color: #000;
    margin-top: -80px;
    text-align: center
}

.page-header .tap-image, .page-header h1 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto
}

.page-header h1 {
    top: 55vh;
    font-size: 60px;
    text-shadow: 2px 2px rgba(0, 0, 0, .5)
}

.page-header .tap-image {
    width: 70px;
    bottom: 100px;
    display: none
}

.page-footer {
    border-top: 1px solid #FEAE03;
}

.bg-transparent {
    background: 0 0
}

.btn-transparent {
    background: 0 0;
    border: none;
    outline: 0;
    position: relative;
    z-index: 3;
    cursor: pointer
}

.btn-transparent:focus {
    outline: 0
}

.badge-primary {
    background-color: #FEAE03;
    padding: 5px 10px;
    font-size: 18px;
}

.offscreen {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0
}

.page-content {
    position: relative;
    padding-bottom: 40px
}

.page-content .page-section {
    padding: 20px 0
}

.page-content .page-section h2 {
    font-size: 50px;
    padding: 20px 0 20px 10%
}

.page-content .page-section h3 {
    padding: 0 20px;
    margin-top: 5px
}

.page-content .page-section p {
    padding: 0 20px;
    font-size: 20px;
    color: #856404
}

.page-content .page-section .row {
    margin: 20px 0
}

.page-content .page-section .image-wrapper {
    margin: 5px;
    padding: 10px;
    background-color: #EDEDED;
    border: 1px solid #FEAE03;
    transition: all .3s ease
}

.page-content .page-section .image-wrapper .standard-image {
    width: 100%;
    border: 1px solid #FEAE03
}

.page-content .page-section .image-wrapper .carousel-image {
    border: 1px solid #FEAE03;
    cursor: move;
    transition: all .3s ease
}

.page-content .page-section .image-wrapper .image-addon {
    display: block;
    padding: 6px;
    width: 40px;
    background-color: #EDEDED;
    border: 1px solid #FEAE03;
    font-size: 20px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 20px;
    transition: all .3s ease;
    cursor: pointer
}

.page-content .page-section .image-wrapper:hover .image-addon {
    opacity: 1;
    top: 20px
}

.page-content .page-section .movie-wrapper {
    border: 1px solid #FEAE03;
    background-color: #EDEDED;
    margin: 5px;
    position: relative;
    width: calc(100% - 10px);
    height: 0;
    padding-bottom: 56.25%
}

.page-content .page-section .movie-wrapper .movie {
    border: 1px solid #FEAE03;
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px)
}

.page-content .page-section .form .form-group, .page-content .page-section .owl-carousel {
    position: relative
}

.page-content .page-section .modal {
    padding: 0!important
}

.page-content .page-section .modal .modal-dialog {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}

.page-content .page-section .modal {
    height: auto;
    min-height: 100%;
    border-radius: 0
}

.page-content .page-section .modal .modal-content {
    width: 100%
}

.page-content .page-section .form .form-group .form-control {
    padding: 10px;
    border-radius: 0;
    border: 1px solid #FEAE03;
    background-color: transparent;
    outline: 0;
    transition: all .3s ease;
    color: #856404
}

.page-content .page-section .form .form-group .form-control:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 .2rem rgba(254, 174, 3, .25);
    -moz-box-shadow: 0 0 0 .2rem rgba(254, 174, 3, .25);
    box-shadow: 0 0 0 .2rem rgba(254, 174, 3, .25);
    background-color: #EDEDED
}

.page-content .page-section .form .form-group .is-valid {
    border: 1px solid #28a745
}

.page-content .page-section .form .form-group .is-valid:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .25);
    -moz-box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .25);
    box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .25)
}

.page-content .page-section .form .form-group .form-control.is-invalid {
    border: 1px solid #dc3545
}

.page-content .page-section .form .form-group .form-control.is-invalid:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .25);
    -moz-box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .25);
    box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .25)
}

.page-content .page-section .form .form-group p.is-invalid {
    color: #dc3545;
    font-size: 12px;
    padding: 5px 0;
    margin: 0
}

.page-content .page-section .form .form-group .floating-label {
    position: absolute;
    top: 10px;
    left: 15px;
    transition: all .3s ease;
    font-size: 18px;
    cursor: text
}

.page-content .page-section .form .form-group label[for=message].floating-label {
    left: 10px
}

.page-content .page-section .form .form-group label[for=message].float {
    left: -1px
}

.page-content .page-section .form .form-group .float {
    top: -18px;
    left: 4px;
    font-size: 12px
}

.page-content .page-section .form .btn-outline-primary {
    border: 1px solid #FEAE03;
    outline: 0;
    border-radius: 0;
    color: #FEAE03;
    width: 200px;
    background-color: transparent
}

.page-content .page-section .form .btn-outline-primary:focus, .page-content .page-section .form .btn-outline-primary:hover {
    background-color: #FEAE03;
    box-shadow: none;
    color: #EDEDED
}

.page-content .page-section .form .alert {
    -webkit-box-shadow: 0 0 0 .2rem rgba(254, 174, 3, .25);
    -moz-box-shadow: 0 0 0 .2rem rgba(254, 174, 3, .25);
    box-shadow: 0 0 0 .2rem rgba(254, 174, 3, .25)
}

.page-content .page-section .form .alert p {
    font-size: 1rem;
    padding: 0;
    margin: 0
}

.page-content .page-section:first-child {
    padding-top: 60px
}

@media (max-width:768px) {
    .page-header .tap-image {
        display: block
    }
}
