.previous {
  background-color: black;
  color: white;
  left: 2rem;
}

.next {
  right: 2rem;
}

.close {
  opacity: 0.9;
}

.nav-btn {
  position: absolute;
  top: 50%;
  background-color: orange;
  color: white;
  transform: translateY(-50%);
  border-radius: 50%;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.nav-btn:hover {
  background-color: #ddd;
  color: black;
}

.modal-header {
  background: #000000FF;
  border-bottom: 1px solid orange;
}

.modal-content {
  height: 100%;
  background: #000000BB;
}

.modal-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.modal-image {
  width: 100%;
  object-fit: contain;
  height: 100%;
}